[submodule "RF-tools-KiCAD"]
	path = RF_tools_KiCAD
	url = git@github.com:easyw/RF-tools-KiCAD.git
[submodule "kicad_scripts"]
	path = NilujePerchut_ki_action
	url = https://github.com/NilujePerchut/kicad_scripts.git
[submodule "kicad-action-plugins"]
	path = easyw_ki_Action
	url = https://github.com/easyw/kicad-action-plugins.git
[submodule "kiactionsmitjaNemec"]
	path = kiactionsmitjaNemec
	url = git@github.com:MitjaNemec/Kicad_action_plugins.git
